<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/style.min.css" />
		<link rel="stylesheet" href="css/main.min.css" />
		<title>Smart English</title>
	</head>
<body>
  <section class="wrapper">
    <div class="log-in">
      <div class="log-in__content">
        <a class="logo" href="log-in.html"><img src="images/logo.png" alt="logo"></a>
        <h3 class="log-in__title">Tizimga kirish</h3>
        <form class="log-in__form" action="#" method="POST">
            <label class="login-label" for="login">Login</label>
            <input id="login" class="log-in__form-item" type="text" name="Login" placeholder="t2joraev" autocomplete="off">
            <label class="password-label" for="password">Parol</label>
            <div class="password-wrapper">
              <input id="password" class="log-in__form-item" type="password" name="Parol" autocomplete="off">
              <div class="password-icon"></div>
            </div>
          <input class="log-in__btn" type="submit" name="submit" value="Kirish">
        </form>
      </div>
      <div class="log-in__img">
        <img class="log-in__image" src="images/log-in.png">
      </div>
      </div>
  </section>
  <body>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="js/libs.min.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>