<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/style.min.css" />
		<link rel="stylesheet" href="css/main.min.css" />
		<title>O‘qituvchi va xodimlarni ro‘yxatdan o‘tkazish</title>
	</head> 
	<body>
    <div id="modal" class="modal active modal-select">
      <form action="#" class="modal-wrapper modal-wrapper_huge" method="POST">
        <div class="modal-inner">
          <h4 class="modal__title">O‘qituvchi va hodimlarni ro‘yhatga olish </h4>
          <div class="modal-select__item modal-three">
            <div class="modal-select__box">
              <label for="fname">Ismi</label>
              <input id="fname" class="modal-input" type="text" name="fname" placeholder="Shahzod">
            </div>
            <div class="modal-select__box">
              <label for="birthday">Tug’ilgan sanasi</label>
              <input id="birthday" class="modal-input" type="date" name="birthday" value="2020-01-22">
            </div>
            <div class="modal-select__box">
              <label>Shaxsni tasdiqlovchi hujjat turi</label>
              <div class="radio">
                <input type="radio" name="doc" id="pass" value="Passport">
                <label for="pass">Passport</label>
                <input type="radio" name="doc" id="id">
                <label for="id">ID-Card</label>
              </div>
            </div>
          </div>
          <div class="modal-select__item modal-three">
            <div class="modal-select__box">
              <label for="surname">Familyasi</label>
              <input id="surname" class="modal-input" type="text" name="surname" placeholder="Ismoilov">
            </div>
            <div class="modal-select__box">
              <label for="app-date">Ro‘yhatdan o‘tgan sana</label>
              <input id="app-date" class="modal-input" type="date" name="app-date" value="2020-01-22">
            </div>
            <div class="modal-select__box">
              <label for="passport">Passport seriyasi va raqami</label>
              <div class="modal-passport">
                <input id="passport" type="text" class="modal-input" placeholder="AB">
                <input type="text" class="modal-input" placeholder="1234567">
              </div>
            </div>
          </div>
          <div class="modal-select__item modal-three">
            <div class="modal-select__box">
              <label for="father-name">Otasining ismi</label>
              <input id="father-name" class="modal-input" type="text" name="father-name" placeholder="Farrux o‘g‘li">
            </div>
            <div class="modal-select__box">
              <label for="id-code">ID-Kodi </label>
              <input id="id-code" class="modal-input" type="text" name="id-code" placeholder="100007784">
            </div>
            <div class="modal-select__box">
              <label for="id-card">ID-Card raqami</label>
              <input id="id-card" class="modal-input" type="text" name="id-card" placeholder="AB1234567">
            </div>
            
          </div>
          <div class="modal-select__item modal-three">
            <div class="modal-select__box">
              <label for="gender">Jinsi</label>
              <select id="gender" class="modal-input" name="gender">
                <option value="Erkak">Erkak</option>
                <option value="Ayol">Ayol</option>
              </select>
            </div>
            <div class="modal-select__box">
              <label for="occupation">Xodimning lavozimi</label>
              <select id="occupation" class="modal-input" name="occupation">
                <option>Ingliz tili o‘qituvchi</option>
                <option>Bosh hisobchi</option>
                <option>Katta o’qituvchi</option>
              </select>
            </div>
            <div class="modal-select__box">
              <label for="workplace">Ish faoliyat joyi</label>
              <select id="workplace" class="modal-input" name="workplace">
                <option>Bosh amaliyot markazi</option>
                <option>Boshqa amaliyot markazi</option>
              </select>
            </div>
            
          </div>
          <div class="modal-select__item modal-three">
            <div class="modal-select__box">
              <label for="login">Login</label>
              <input type="text" class="modal-input" name="login" id="login" placeholder="Login">
            </div>
            <div class="modal-select__box">
              <label for="password">Parol</label>
              <div class="password-wrapper">
                <input type="text" class="modal-input" name="password" id="password">
                <div class="password-icon"></div>
              </div>
            </div>
          </div>

        
        </div>
        <div class="input-buttons">
        <a href="teacher.html" id="modal-close" class="input-btn">Bekor qilish</a>
        <button class="input-btn input-btn--submit" type="submit">Saqlash</button>
        </div>
      </form>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="js/libs.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>
