<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/style.min.css" />
		<link rel="stylesheet" href="css/main.min.css" />
		<title>O‘quv xonalarni kiritish va uni jurnali</title>
	</head> 
	<body>
    <div id="modal" class="modal active modal-select">
			<form action="#" class="modal-wrapper modal-select--room" method="POST">
				<div class="modal-inner">
					<h4 class="modal__title">O‘quv xonalarini kiritish</h4>
					<div class="modal-select__item">
            <div class="modal-select__box">
            <label for="room">O‘quv bino nomini tanlash </label>
            <select id="room" class="modal-input" name="room">
              <option>Birinchi bosh bino amaliyot markazi</option>
              <option>Ikkinchi bino amaliyot markazi</option>
              <option>Uchinchibino amaliyot markazi</option>
              <option>Andijon filial birinchi bino</option>
              <option>Namangan filial uchinchi bino</option>
              <option>Toshkent filial bosh amaliyot markazi</option>
            </select>
            </div>
            <div class="modal-select__box modal-select-plus">
              <label for="room-type">O‘quv dars xonalar turi</label>
            <select id="room-type" class="modal-input" name="room-type">
              <option>Video dars</option>
              <option>Lug‘at dars</option>
              <option>Amaliyot dars</option>
            </select>
            <a href="#" class="add-link">+ Yangi qo‘shish</a>
            </div>
          </div>
          <div class="modal-select__item">
            <div class="modal-select__box modal-select-plus">
              <label for="room-number">O‘quv xonalarni joylashuv raqami</label>
            <select id="room-number" class="modal-input" name="room-number">
              <option>1.1 - xona</option>
              <option>1.2 - xona</option>
              <option>3.4 - xona</option>
            </select>
            <a href="#" class="add-link">+ Yangi qo‘shish</a>
            </div>
            <div class="modal-select__box">
              <label for="room-teacher">Birirktirilgan mas’ul shaxs</label>
              <input id="room-teacher" class="modal-input" name="room-teacher" type="text" placeholder="Abdulaziz Karimov">
            </div>
          </div>
				</div>
				<div class="input-buttons">
					<a href="room.html" id="modal-close" class="input-btn">Bekor qilish</a>
				<button class="input-btn input-btn--submit" type="submit">Saqlash</button>
				</div>
			</form>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="js/libs.min.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>