<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/style.min.css" />
		<link rel="stylesheet" href="css/main.min.css" />
		<title>Sozlamalarni kiritish</title>
	</head>
	<body>
    <div id="modal" class="modal active">
      <form action="#" class="modal-wrapper" method="POST">
        <div class="modal-inner">
          <h4 class="modal__title">Bino va Filiallarni kiritish</h4>
          <div class="modal-input__item">
            <label for="address">Joylashgan manzili</label>
            <input id="address" class="modal-input" type="text" name="address" placeholder="Shaxar, ko‘cha, uy" autocomplete="off">
          </div>
          <div class="modal-input__item">
            <label for="name">Markaz va filiallar nomi</label>
            <input id="name" class="modal-input" type="text" name="name" placeholder="Birinchi bosh amaliyot markazi" autocomplete="off">
          </div>
          <div class="modal-input__item modal-box">
            <div class="modal-input__box">
              <label for="nickname">Qisqacha nomi yoki nik</label>
            <input id="nickname" class="modal-input" type="text" name="nickname" placeholder="Ismi, nik" autocomplete="off">
            </div>
            <div class="modal-input__box">
              <label for="staff-number">Ishchi o‘rni soni</label>
            <input id="staff-number" class="modal-input" type="number" name="staff-number" placeholder="5" autocomplete="off">
            </div>
            <div class="modal-input__box">
              <label for="date">Kiritilgan sana</label>
            <input id="date" class="modal-input" type="date" name="date" autocomplete="off" value="2021-12-01">
            </div>
          </div>
        </div>
        <div class="input-buttons">
          <a href="building.html" id="modal-close" class="input-btn">Bekor qilish</a>
        <button class="input-btn input-btn--submit" type="submit">Saqlash</button>
        </div>
      </form>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="js/libs.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>