{% extends "base.html" %}
{% load static%}
{% block title %}Dars Soatlari{% endblock%}
{% block content %}
    <div id="modal" class="modal active modal-select">
      <form action="#" class="modal-wrapper" method="POST">
      {% csrf_token %}
        <div class="modal-inner">
          <h4 class="modal__title">Dars soatlari va turlarni kiritish</h4>
          <div class="modal-select__item">
            <div class="modal-select__box  modal-select-plus">
              <label for="subject">O‘tiladigan fanlar nomi</label>
            <select id="subject" class="modal-input" name="subject">
            {% for s in subjects %}
              <option>{{s.name}}</option>
             {% endfor %}
            </select>
            <a href="#" class="add-link">+ Yangi qo‘shish</a>
            </div>
            <div class="modal-select__box">
              <label for="group">Guruhlar turlari</label>
            <select id="group" class="modal-input" name="group">    
              {% for s in groups %}
                <option>{{ s.group_type }}</option>
             {% endfor %}
            </select>
            </div>
          </div>
          <div class="modal-select__item">
            <div class="modal-select__box modal-select-plus">
              <label for="subject-type">Dars uslubi</label>
            <select id="subject-type" class="modal-input" name="subject-type">
            {% for s in lesson_patterns %}
              <option>{{s.patterns}}</option>
            {% endfor %}
            </select>
            <a href="#" class="add-link">+ Yangi qo‘shish</a>
            </div>
            <div class="modal-select__box">
              <label for="start-time">Darsni boshlanish vaqti </label>
              <input id="start-time" class="modal-input number-rule" name="start-time" type="text" placeholder="13:00">
            </div>
          </div>
          <div class="modal-select__item">
            <div class="modal-select__box  modal-select-plus">
              <label for="lesson-type">Dars turlari</label>
            <select id="lesson-type" class="modal-input" name="lesson-type">
              {% for g in lesson_types %}
                <option>{{g.lesson_types}}</option>
              {% endfor %}
               
            </select>
            <a href="#" class="add-link">+ Yangi qo‘shish</a>
            </div>
            <div class="modal-select__box">
              <label for="end-time">Darsni tugash vaqti </label>
              <input id="end-time" class="modal-input number-rule" name="end-time" type="text" placeholder="15:30">
            </div>
          </div>
        </div>
        <div class="input-buttons">
          <a href="{% url 'settings:time'%}" id="modal-close" class="input-btn">Bekor qilish</a>
        <button class="input-btn input-btn--submit" type="submit">
          <a href="{% url 'settings:time'%}">Saqlash</a>
        </button>
        </div>
      </form>
    </div>
{% endblock content%}