<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/style.min.css" />
		<link rel="stylesheet" href="css/main.min.css" />
		<title>O‘qituvchi va xodimlarni ro‘yxatdan o‘tkazish</title>
	</head> 
  <body>
    <div id="modal" class="modal active modal-select">
    <form action="#" class="modal-wrapper modal-wrapper_huge modal-wrapper-view modal-space" method="POST">
      <div class="modal-inner modal-inner_view">
        <h4 class="modal__title">Shahzod Ismoilov Farrux o‘g‘li</h4>
        
        <div class="view">
          <div class="view__item">
            <div class="view-box">
              <div class="view-title">Ismi:</div>
              <div class="view-info">Shahzod</div>
            </div>
            <div class="view-box">
              <div class="view-title">Ro‘yhatdan o‘tgan sana:</div>
              <div class="view-info">25.01.2020</div>
            </div>
          </div>
          <div class="view__item">
            <div class="view-box">
              <div class="view-title">Familyasi:</div>
              <div class="view-info">Ismoilov</div>
            </div>
            <div class="view-box">
              <div class="view-title">ID-Codi:</div>
              <div class="view-info">100007784</div>
            </div>
          </div>
          <div class="view__item">
            <div class="view-box">
              <div class="view-title">Otasining ismi:</div>
              <div class="view-info">Farrux o‘g‘li</div>
            </div>
            <div class="view-box">
              <div class="view-title">Xodimning lavozimi</div>
              <div class="view-info">Ingliz tili o‘qituvchisi</div>
            </div>
          </div>
          <div class="view__item">
            <div class="view-box">
              <div class="view-title">Jinsi:</div>
              <div class="view-info">Erkak</div>
            </div>
            <div class="view-box">
              <div class="view-title">Shaxsni aniqlovchi hujjat:</div>
              <div class="view-info">Passport</div>
            </div>
          </div>
          <div class="view__item">
            <div class="view-box">
              <div class="view-title">Tug’ilgan sanasi</div>
              <div class="view-info">28.01.2000</div>
            </div>
            <div class="view-box">
              <div class="view-title">Passport seriyasi va raqami: </div>
              <div class="view-info">AB 1234567</div>
            </div>
          </div>
          <div class="view__item">
            <div class="view-box">
              <div class="view-title">Login:</div>
              <div class="view-info">shakhzodismoilov12@gmail.com</div>
            </div>
            <div class="view-box">
              <div class="view-title">ID-Card raqami:</div>
              <div class="view-info">AB2853730</div>
            </div>
          </div>
          <div class="view__item">
            <div class="view-box">
              <div class="view-title">Parol:</div>
              <div class="view-info">66554422</div>
            </div>
            <div class="view-box">
              <div class="view-title">Ish faoliyat joyi:</div>
              <div class="view-info">Bosh amaliyot markazi</div>
            </div>
          </div>
        </div>
       
      
      </div>
  
      <div class="input-buttons input-export">
        <div class="build-top__item build-export__second">
          <ul class="build-export">
            <li class="build-export__item">Export</li>
            <ul class="build-export__dropdown">
              <li><a href="#"><img src="images/word.svg" alt="export icon">Word</a></li>	
              <li><a href="#"><img src="images/excel.svg" alt="export icon">Excel</a></li>
              <li><a href="#"><img src="images/pdf.svg" alt="export icon">Pdf</a></li>
            </ul>
          </ul>
        </div>
          <a href="teacher.html" id="modal-close" class="input-btn">Ortga qaytish</a>
        </div>
    </form>
    </div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="js/libs.min.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>
